@page "/donvitinhs"
@implements IAsyncDisposable
@inject IDbContextFactory<WebBalzor.Data.MyAppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Đơn vị tính </h1>

<p>
    <a href="donvitinhs/create" class="btn btn-primary ">Create New</a>
</p>

<QuickGrid Class="table" Items="context.DonViTinh">
    <PropertyColumn Property="donvitinh => donvitinh.Id" />
    <PropertyColumn Property="donvitinh => donvitinh.Ten_Don_Vi_Tinh" />
    <PropertyColumn Property="donvitinh => donvitinh.Ghi_Chu" />

    <TemplateColumn Context="donvitinh">
        <a href="@($"donvitinhs/edit?id={donvitinh.Id}")" class="btn btn-info">Edit</a> |
        <a href="@($"donvitinhs/details?id={donvitinh.Id}")" class="btn btn-success">Details</a> |
        <a href="@($"donvitinhs/delete?id={donvitinh.Id}")" class="btn btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MyAppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
