<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BaiThucTap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DonViTinhs">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DonViTinh
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoaiSanPhams">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> LoaiSanPham
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="SanPhams">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SanPham
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NhaCungCaps">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NhaCungCap
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="DM_Khos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DN_Kho
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="DM_Kho_Users">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DN_Kho_User
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="NhapKhos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NhapKho
            </NavLink>
        </div>
    </nav>
</div>

